# Origin
APP_ORIGIN=http://localhost:3000
# Supabase
SUPABASE_URL=https://your-development-project.supabase.co
SUPABASE_PUBLISHABLE_KEY=replace-with-publishable-key
SUPABASE_SECRET_KEY=replace-with-secret-key
TEST_SUPABASE_SECRET_KEY=
# Turnstile
NEXT_PUBLIC_TURNSTILE_SITE_KEY=replace-with-turnstile-site-key
# Game Server
GAME_API_URL=http://localhost:8080/api/command
GAME_API_TOKEN=
GAME_WEBSOCKET_URL=ws://localhost:8080/api/game
# Game configuration
GAME_CONFIG_URL=file:///home/pi/balgass/config/server-game-common/IGCData/
# GAME_CONFIG_URL=https://game.r2f2.com/config/
# GAME_CONFIG_BASIC_AUTH_USER=
# GAME_CONFIG_BASIC_AUTH_PASSWORD=
