<?xml version="1.0" encoding="utf-8"?>
<Events>
    <BloodCastle> <!--血色城堡PVE-->
        <server type="0" name="regular" enable="1" />
        <server type="1" name="siege" enable="0" />
        <server type="2" name="market" enable="0" />
        <server type="3" name="arca" enable="0" />
        <server type="3" name="battle" enable="0" />
    </BloodCastle>
    <DevilSquare> <!--恶魔广场PVE-->
        <server type="0" name="regular" enable="1" />
        <server type="1" name="siege" enable="0" />
        <server type="2" name="market" enable="0" />
        <server type="3" name="arca" enable="0" />
        <server type="3" name="battle" enable="0" />
    </DevilSquare>
    <DevilSquareSurival> <!--恶魔广场生存战PVP-->
        <server type="0" name="regular" enable="0" />
        <server type="1" name="siege" enable="0" />
        <server type="2" name="market" enable="0" />
        <server type="3" name="arca" enable="0" />
        <server type="3" name="battle" enable="1" />
    </DevilSquareSurival>
    <ChaosCastle> <!--赤色要塞PVE-->
        <server type="0" name="regular" enable="1" />
        <server type="1" name="siege" enable="0" />
        <server type="2" name="market" enable="0" />
        <server type="3" name="arca" enable="0" />
        <server type="3" name="battle" enable="1" />
    </ChaosCastle>
    <ChaosCastleSurvival> <!--赤色要塞生存战PVP-->>
        <server type="0" name="regular" enable="0" />
        <server type="1" name="siege" enable="0" />
        <server type="2" name="market" enable="0" />
        <server type="3" name="arca" enable="0" />
        <server type="3" name="battle" enable="1" />
    </ChaosCastleSurvival>
    <IllusionTemple> <!--幻影寺院PVP-->
        <server type="0" name="regular" enable="0" />
        <server type="1" name="siege" enable="0" />
        <server type="2" name="market" enable="1" />
        <server type="3" name="arca" enable="0" />
        <server type="3" name="battle" enable="0" />
    </IllusionTemple>
    <CastleSiege> <!--攻城战PVP-->
        <server type="0" name="regular" enable="0" />
        <server type="1" name="siege" enable="1" />
        <server type="2" name="market" enable="0" />
        <server type="3" name="arca" enable="0" />
        <server type="3" name="battle" enable="0" />
    </CastleSiege>
    <LorenDeep> <!--罗兰峡谷PVE-->
        <server type="0" name="regular" enable="0" />
        <server type="1" name="siege" enable="1" />
        <server type="2" name="market" enable="0" />
        <server type="3" name="arca" enable="0" />
        <server type="3" name="battle" enable="0" />
    </LorenDeep>
    <Crywolf> <!--狼魂要塞PVE-->
        <server type="0" name="regular" enable="0" />
        <server type="1" name="siege" enable="1" />
        <server type="2" name="market" enable="0" />
        <server type="3" name="arca" enable="0" />
        <server type="3" name="battle" enable="0" />
    </Crywolf>
    <Kanturu> <!--坎特鲁PVE-->
        <server type="0" name="regular" enable="1" />
        <server type="1" name="siege" enable="0" />
        <server type="2" name="market" enable="0" />
        <server type="3" name="arca" enable="0" />
        <server type="3" name="battle" enable="0" />
    </Kanturu>
    <Raklion> <!--蜘蛛PVE-->
        <server type="0" name="regular" enable="1" />
        <server type="1" name="siege" enable="0" />
        <server type="2" name="market" enable="0" />
        <server type="3" name="arca" enable="0" />
        <server type="3" name="battle" enable="0" />
    </Raklion>
    <DoppelGanger> <!--生魂广场PVE-->
        <server type="0" name="regular" enable="1" />
        <server type="1" name="siege" enable="0" />
        <server type="2" name="market" enable="0" />
        <server type="3" name="arca" enable="0" />
        <server type="3" name="battle" enable="0" />
    </DoppelGanger>
    <ImperialGuardian> <!--帝国PVE-->
        <server type="0" name="regular" enable="1" />
        <server type="1" name="siege" enable="0" />
        <server type="2" name="market" enable="0" />
        <server type="3" name="arca" enable="0" />
        <server type="3" name="battle" enable="0" />
    </ImperialGuardian>
    <RingAttack> <!--白怪PVE-->
        <server type="0" name="regular" enable="1" />
        <server type="1" name="siege" enable="0" />
        <server type="2" name="market" enable="0" />
        <server type="3" name="arca" enable="0" />
        <server type="3" name="battle" enable="0" />
    </RingAttack>
    <ChristmasAttack> <!--圣诞袭击-->
        <server type="0" name="regular" enable="1" />
        <server type="1" name="siege" enable="0" />
        <server type="2" name="market" enable="0" />
        <server type="3" name="arca" enable="0" />
        <server type="3" name="battle" enable="0" />
    </ChristmasAttack>
    <ArcaBattle> <!--阿尔卡战争PVP-->
        <server type="0" name="regular" enable="0" />
        <server type="1" name="siege" enable="0" />
        <server type="2" name="market" enable="0" />
        <server type="3" name="arca" enable="1" />
        <server type="3" name="battle" enable="0" />
    </ArcaBattle>
    <AcheronGuardian> <!--阿卡伦守护PVE-->
        <server type="0" name="regular" enable="0" />
        <server type="1" name="siege" enable="0" />
        <server type="2" name="market" enable="0" />
        <server type="3" name="arca" enable="1" />
        <server type="3" name="battle" enable="0" />
    </AcheronGuardian>
    <LastManStanding> <!--群P-->
        <server type="0" name="regular" enable="1" />
        <server type="1" name="siege" enable="0" />
        <server type="2" name="market" enable="0" />
        <server type="3" name="arca" enable="0" />
        <server type="3" name="battle" enable="0" />
    </LastManStanding>
</Events>