{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} {% endblock title %}</title>
    <link
      rel="icon"
      href="{% static 'img/favicon.svg' %}"
      type="image/svg+xml"
    />
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-light bg-light mb-4 border">
      <a class="navbar-brand" href="{% url 'home' %}">Home</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarCollapse"
        aria-controls="navbarCollapse"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'topics' %}">Topics</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'game' %}">Game</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0 d-none d-md-flex">
          <input
            class="form-control mr-sm-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">
            Search
          </button>
        </form>
        <ul class="navbar-nav ml-auto">
          {% if user.is_authenticated %}
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              role="button"
              data-toggle="dropdown"
              aria-expanded="false"
            >
              {{user.username}}
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" href="{% url 'user' user.username %}">
                My profile
              </a>
              {% if user.profile.email_verified %}
              <a class="dropdown-item" href="{% url 'accounts'%}">
                Game accounts
              </a>
              {% endif %}
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'logout' %}">Log out</a>
            </div>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Login</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>

    <main role="main" class="container mb-4">
      <div class="mb-2">
        {% block page_header %}{% endblock page_header %}
      </div>
      <div>{% block content %}{% endblock content %}</div>
    </main>
  </body>
</html>
