{% extends "base.html" %}

{% block title %}
Profile
{% endblock title %}

{% block page_header %}
<h3>Profile</h3>
{% endblock page_header %}

{% block content %}
<table class="table">
  {% if other %}
  <tbody>
    <tr>
      <th scope="row">username</th>
      <td>{{other.username}}</td>
    </tr>
  </tbody>
  {% else %}
  <tbody>
    <tr>
      <th scope="row">username</th>
      <td>{{user.username}}</td>
    </tr>
    <tr>
      <th scope="row">email</th>
      <td>{{user.email}}</td>
      <td>
        {% if not profile.email_verified %}
        <form method="post" action="{% url 'resend_verification_email' %}">
          {% csrf_token %}
          <button type="submit" class="btn btn-warning">Resend Verification Email</button>
        </form>
      {% endif %}
      </td>
    </tr>
  </tbody>
  {% endif %}
</table>

<!-- <pre>{% debug %}</pre> -->

<!-- {% if not other %}
<p>user: {{other.username}}</p>
{% endif %} -->
{% endblock content %}
