{% extends "base.html" %}

{% block title %}
Profile
{% endblock title %}

{% block page_header %}
<h3>Profile</h3>
{% endblock page_header %}

{% block content %}
<table class="table">
  <tbody>
    {% if other %}
    <tr>
      <th scope="row">username</th>
      <td>{{other.username}}</td>
    </tr>
    {% else %}
    <tr>
      <th scope="row">username</th>
      <td>{{user.username}}</td>
    </tr>
    <tr>
      <th scope="row">email</th>
      <td>
        <div class="d-flex align-items-center">
          {{user.email}}
          {% if not user.profile.email_verified %}
          <form class="ml-2 mb-0" method="post" action="{% url 'resend_verification_email' %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-warning btn-sm" title="Send verification email">Verify</button>
          </form>
          {% endif %}
        </div>
      </td>
    </tr>
    {% endif %}
  </tbody>
</table>

<!-- <pre>{% debug %}</pre> -->

<!-- {% if not other %}
<p>user: {{other.username}}</p>
{% endif %} -->
{% endblock content %}
