@import "~antd/dist/antd.css";

.w {
  width: 1200px;
  margin: 0 auto;
}

.header {
  padding: 10px 24px;
  font: 14px -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial,
    PingFang SC, Hiragino Sans GB, Microsoft YaHei, sans-serif;
  box-shadow: 0 -3px 10px 1px rgba(0, 0, 0, 0.2);
  line-height: 36px;
  background-color: #fff;
  height: auto;
}

.main {
  padding-top: 16px;
}

.footer {
  padding-top: 16px;
}
