* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 斜体文字不倾斜 */
em,
i {
  font-style: normal;
}

img {
  border: 0;
  vertical-align: middle;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #333;
}

input,
textarea {
  outline: none;
}

textarea {
  resize: none;
}

li {
  /* 去除item的小圆点 */
  list-style: none;
}

.w {
  width: 1200px;
  margin: 0 auto;
}
