.password {
  padding: 20px;
  background-color: #fff;
}

.password-title {
  height: 50px;
  margin-bottom: 20px;
  line-height: 50px;
  text-align: center;
  font-weight: normal;
  font-size: 38px;
}

.password-steps {
  /* padding: ; */
  /* margin-bottom: 60px; */
}

.password-steps ul {
  display: flex;
  justify-content: center;
}

.password-step-verify-email,
.password-step-new-password,
.password-step-result {
  display: flex;
  color: #ccc;
}

.password-step-verify-email::before,
.password-step-new-password::before,
.password-step-result::before {
  content: "1";
  width: 20px;
  height: 20px;
  margin: 0 10px;
  border: 2px solid #ccc;
  border-radius: 50%;
  font-weight: bold;
  line-height: 20px;
  text-align: center;
}

.password-step-new-password::before {
  content: "2";
}

.password-step-result::before {
  content: "3";
}

.password-step-verify-email::after,
.password-step-new-password::after {
  content: "";
  width: 60px;
  height: 1px;
  margin: 12px 0 0 10px;
  background-color: #e5e9ef;
}

.password-step-active {
  color: #f25d8e;
  border-color: #f25d8e;
}

/* 确认账号 */
.password-form-verify-email {
  margin: 40px auto 20px;
}

.password-form-verify-email li {
  position: relative;
  width: 400px;
  margin: 0 auto 20px;
}

.password-verify-email-message {
  position: absolute;
  left: 10px;
  top: 40px;
  height: 30px;
  line-height: 20px;
  font-size: 12px;
  color: #f45d90;
}

/* 设置新密码 */
.password-form-new-password {
  margin: 40px auto 20px;
}

.password-form-new-password li {
  position: relative;
  width: 400px;
  margin: 0 auto 20px;
}

.password-form-result {
  margin: 40px auto 20px;
  text-align: center;
}

.password-form-input,
.password-form-submit {
  width: 100%;
  height: 40px;
  border: 1px solid #dcdfe6;
  border-radius: 4px;
  padding: 0 15px;
  color: #606266;
}

.input-border-red {
  border-color: #f45d90;
}

.btn-active {
  background-color: #00a7de;
  color: #fff;
}

.password-form-input:focus {
  border-color: #00a1d6;
}

/* .password-form-submit {
  color: rgba(0, 0, 0, 0.3);
  outline: none;
} */

/* .password-form-verify-input {
  height: 70px;
} */

.password-error-message {
  position: absolute;
  left: 10px;
  top: 40px;
  color: #f45d90;
  font-size: 12px;
  line-height: 20px;
  /* transform: translate3d(100%, 0, 0); */
}

.password-safe {
  position: absolute;
  top: 12px;
  right: 20px;
  font-size: 12px;
  color: green;
}

.password-form-btn {
  position: absolute;
  top: 2px;
  right: 2px;
  width: 100px;
  height: 36px;
  border: none;
  border-radius: 4px;
  background-color: #00a1d6;
  color: #fff;
}

.password-login {
  font-size: 12px;
  text-align: right;
}
