.password {
  padding: 20px;
  background-color: #fff;
}

.title {
  height: 50px;
  margin-bottom: 20px;
  line-height: 50px;
  text-align: center;
  font-weight: normal;
  font-size: 38px;
}

.steps {
  margin-bottom: 60px;
}

.steps ul {
  display: flex;
  justify-content: center;
}

.a-verify,
.a-set,
.a-result {
  display: flex;
  color: #ccc;
}

.a-verify::before,
.a-set::before,
.a-result::before {
  content: "1";
  width: 20px;
  height: 20px;
  margin: 0 10px;
  border: 2px solid #ccc;
  border-radius: 50%;
  font-weight: bold;
  line-height: 20px;
  text-align: center;
}

.a-set::before {
  content: "2";
}

.a-result::before {
  content: "3";
}

.a-verify::after,
.a-set::after {
  content: "";
  width: 60px;
  height: 1px;
  margin: 12px 0 0 10px;
  background-color: #e5e9ef;
}

.active {
  color: #f25d8e;
  border-color: #f25d8e;
}

.form-verify {
  width: 400px;
  margin: 0 auto;
}

.verify-message {
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  color: #f45d90;
}

.form-set {
  /* margin-top: 40px; */
}

.form-set li {
  position: relative;
  width: 400px;
  margin: 0 auto 20px;
}

.form-result {
  text-align: center;
}

.form-input,
.form-submit {
  width: 100%;
  height: 40px;
  border: 1px solid #dcdfe6;
  border-radius: 4px;
  padding: 0 15px;
  color: #606266;
}

.form-submit {
  color: rgba(0, 0, 0, 0.3);
  outline: none;
}

.form-verify-input {
  height: 70px;
}

.error-message {
  position: absolute;
  top: 12px;
  right: -20px;
  color: #f45d90;
  font-size: 12px;
  transform: translate3d(100%, 0, 0);
}

.safe {
  position: absolute;
  top: 12px;
  right: 20px;
  font-size: 12px;
  color: green;
}

.form-btn {
  position: absolute;
  top: 2px;
  right: 2px;
  width: 100px;
  height: 36px;
  border: none;
  border-radius: 4px;
  background-color: #00a1d6;
  color: #fff;
}
