{% extends "base.html" %}
{% load bootstrap4 %}

{% block title %}
Sign up
{% endblock title %}

{% block content %}
<div class="card mx-auto" style="max-width: 600px">
  <div class="card-body">
    <h3 class="card-title">Create an account.</h3>
    <form action="{% url 'signup' %}" method="post" class="form">
      {% csrf_token %} {% bootstrap_form form %}
      <div class="d-flex flex-column flex-sm-row justify-content-between align-items-center mt-3">
        <button name="submit" class="btn btn-primary">Sign up</button>
        <div>
          <span>Already have an R2F2 Account?</span>
          <a href="{% url 'login' %}">Login</a>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock content %}