@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1610299360283'); /* IE9 */
  src: url('iconfont.eot?t=1610299360283#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALEAAsAAAAABoAAAAJ2AAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAqBDIEnATYCJAMICwYABCAFhG0HMBvNBRHVkydkX2HcwoMQmsQCLheoOPwmowDUD3uwNvAKEgAAAAAgePjW2h/ZYxD1bUc192hRk2ioNF7XUKCaRI/k3dysukZFKJbkPPhfviMdE0J+rTc8ioKUbDZ6+Osf5YTfW4QqXArIAzkgP0Og3gPg4JjporwxD2guGanRgAObDqgb44Psn+TJfxi74AXehwC8iGMTJVtNCwaNvUwAYiaOD2IKATSapQ0CV8NejdjFwshteYNgJ/p98cOSAYmlsKsaxkpHKPjcyQJ0ridAEAQBOmwBCrCBBtHSmKhDIRhR4ZXQJOFY5QI+/z8wIY6qR7B/nV3qA0AMFDyT0BM9aqkEQCfDNiidNBZkdODK2JlHurMJrAS0D81yP0aPav5J2Nip8juP/LrYNtT+kaXkfXy3O9eebm2dtpddbshNlcvyjFx3d/yahOb7ectpjnHShWmOumr0v0MBAM6fWioAAQhI+MW+fv/5b7w1AC86PiKf86fDMBeY8zgF/C/hwC5tiG2j1Jqw0SWxJy2VgBdegAP2BHmbqgm9OZvAFIQMJB7EgsKQgtRYGyy8yQEXhnzwIlv5YW+CLaEQ2hPIsg5AEOAMJH5cgyLALVJjX8EizB+4CEiBF22inOlNWlKUxYSK0YL+QzS9OdfMMi6/oX8XRXlxRH8hXTEM8zCV0zs2pCU2XB+/MDtw1Cts4DEspcNBPaHhITAf6zi6pm8aTK9CKiZUjBb0H6LpzQWDWVZ+/ob+XRR11NU5X0hXHB3mYRqA3BVtUN2jPHN9/MLswFGvsIFZWEqHo3lWQsNDmBA71tHp54Yqhu1V9QfyWRO2NuVMU7iGikwQAgAA') format('woff2'),
  url('iconfont.woff?t=1610299360283') format('woff'),
  url('iconfont.ttf?t=1610299360283') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1610299360283#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\e8ef";
}

