{% extends "base.html" %}
{% load bootstrap4 %}

{% block title %}
Password reset
{% endblock title %}

{% block page_header %}
<h3>Password reset</h3>
{% endblock page_header %}

{% block content %}

{% if validlink %}

<p>Please enter your new password twice so we can verify you typed it in correctly.</p>

<div style="max-width: 400px">
    <form method="post" class="form">
        {% csrf_token %} {% bootstrap_form form %}
        <button name="submit" class="btn btn-primary w-100">Reset my password</button>
    </form>
</div>

{% else %}

<p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>

{% endif %}

{% endblock %}
