{% extends "base.html" %}
{% load bootstrap4 %}

{% block title %}
Password reset
{% endblock title %}

{% block page_header %}
<h3>Password reset</h3>
{% endblock page_header %}

{% block content %}
<p>Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</p>
<div style="max-width: 400px">
    <form method="post" class="form">
        {% csrf_token %} {% bootstrap_form form %}
        <button name="submit" class="btn btn-primary w-100">Reset my password</button>
    </form>
</div>
{% endblock content %}
