.nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.nav-link {
  display: flex;
}

.nav-link-logo {
  height: 36px;
  margin-right: 12px;
  background-color: black;
}

.nav-link a {
  display: flex;
  cursor: pointer;
  text-decoration: none;
  color: #333;
}

.nav-search {
  width: 500px;
  height: 36px;
  line-height: 36px;
  /* background-color: #f4f4f4; */
}
