{% extends "base.html" %}
{% load bootstrap4 %}

{% block title %}
Game Accounts
{% endblock title %}

{% block page_header %}
<h3>Game Accounts</h3>
{% endblock page_header %}

{% block content %}
<div>
  {% if get_account_list_message %}
  <div class="alert alert-warning" role="alert">
    {{get_account_list_message}}
  </div>
  {% else %}
  <div class="row row-cols-*">
    {% for acc in accounts %}
    <div class="col-md-auto mb-3">
      <div class="card">
        <div class="card-header">{{acc.name}}</div>
        <ul class="list-group list-group-flush">
          {% for c in acc.characters %}
          <li class="list-group-item">{{ c.name }} {{ c.level|add:c.master_level }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
    {% endfor %}
    <div class="col-md-auto mb-3">
      <div class="card">
        <div class="card-body">
          <p class="card-text">New a game account.</p>
          <button
            type="button"
            class="btn btn-primary"
            data-toggle="modal"
            data-target="#newAccountModal"
          >
            New
          </button>
        </div>
      </div>
    </div>
  </div>
  <div
    class="modal fade"
    id="newAccountModal"
    tabindex="-1"
    aria-labelledby="newAccountModalLabel"
    aria-hidden="true"
    {% if create_account_message %}
    data-backdrop="static"
    data-keyboard="false"
    {% endif %}
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="newAccountModalLabel">
            Create a new game account
          </h5>
        </div>
        <div class="modal-body">
          <form action="{% url 'accounts' %}" method="post">
            {% csrf_token %} {% bootstrap_form form %}
            <button class="btn btn-primary" name="submit">
              Submit
            </button>
          </form>
        </div>
        {% if create_account_message %}
        <div class="modal-footer">
          <button type="button" class="btn btn-warning" onclick="window.location.href=window.location.href">
            {{ create_account_message }}
          </button>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
  {% endif %}
</div>
{% if create_account_message %}
<script>
  $(document).ready(function () {
    $("#newAccountModal").modal("show");
  });
</script>
{% endif %}
<!-- <pre>{% debug %}</pre> -->
{% endblock content %}
