{% extends "base.html" %}

{% block title %}
Game
{% endblock title %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <canvas id="canvas" width="512" height="512"></canvas>
    </div>
    <div class="col">
      <form>
        <div class="form-group row">
          <div id="map-buttons">
            {% for name in game_map_names %}
            <button
              type="button"
              class="btn btn-outline-secondary btn-sm"
              data-name="{{ name }}"
            >
              {{ name }}
            </button>
            {% endfor %}
          </div>
          <input id="input" type="hidden" value="0" />
        </div>
        <div class="form-group">
          <div id="output" style="max-height: 50vh; overflow-y: scroll"></div>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  window.addEventListener("load", () => {
    var input = document.getElementById("input");
    var output = document.getElementById("output");
    var canvas = document.getElementById("canvas");
    var ctx = canvas.getContext("2d");
    ctx.transform(1, 0, 0, -1, 0, canvas.height);
    ctx.strokeRect(0, 0, 512, 512);
    var bg;
    document.querySelectorAll('#map-buttons button').forEach(btn => {
      btn.addEventListener('click', () => {
        const name = btn.getAttribute('data-name');
        document.getElementById('input').value = name;
        document.querySelector('form').requestSubmit();
      });
    });
    var drawPoint = (x, y, size) => {
      ctx.fillRect(x * 2, y * 2, size, size);
    };
    var print = function (message) {
      var d = document.createElement("div");
      d.textContent = message;
      output.appendChild(d);
      output.scroll(0, output.scrollHeight);
    };
    const wsProtocol = window.location.protocol === "https:" ? "wss" : "ws";
    const wsHost = window.location.hostname;
    const ws = new WebSocket("{{ game_websocket_url }}");
    ws.onopen = () => {
      print("websocket open");
      ws.send(
        JSON.stringify({
          action: "SubscribeMap",
          in: { name: "Lorencia" },
        })
      );
    };
    ws.onclose = () => {
      print("websocket close");
      ws = null;
    };
    ws.onmessage = (e) => {
      var resp = JSON.parse(e.data);
      var out = resp.out;
      if (out.err) {
        print(out.err);
        return;
      }
      switch (resp.action) {
        case "HandleErrorReply":
          break;
        case "SubscribeMapReply":
          if (out.name == "map") {
            bg = out.data;
          }
          if (out.name == "object") {
            ctx.clearRect(0, 0, 512, 512);
            ctx.fillStyle = "black";
            bg.map((p) => {
              drawPoint(p.x, p.y, 2);
            });
            ctx.fillStyle = "purple";
            out.data.stands?.map((p) => {
              drawPoint(p.x, p.y, 4);
            });
            ctx.fillStyle = "red";
            out.data.monsters?.map((p) => {
              drawPoint(p.x, p.y, 4);
            });
            ctx.fillStyle = "green";
            out.data.npcs?.map((p) => {
              drawPoint(p.x, p.y, 4);
            });
            ctx.fillStyle = "blue";
            ctx.strokeStyle = "blue";
            out.data.players?.map((p) => {
              drawPoint(p.x, p.y, 4);
              ctx.beginPath();
              ctx.arc(p.x*2, p.y*2, 10, 0, Math.PI * 2);
              ctx.stroke();
            });
          }
          break;
        default:
          print(`unknown [action]${resp.action}`);
      }
    };
    ws.onerror = (e) => {
      print("err:" + e.data);
    };
    document.querySelector('form').addEventListener("submit",(e)=>{
      // https://stackoverflow.com/questions/19233254/jquery-submit-form-without-reloading-page
      e.preventDefault();
      if (!ws) {
        return false;
      }
      var name = input.value;
      if (name == "") {
        print("err: " + "empty map number");
        return;
      }
      // https://stackoverflow.com/questions/5963182/how-to-remove-spaces-from-a-string-using-javascript
      name = name.replace(/\s/g, "");
      ws.send(
        JSON.stringify({
          action: "SubscribeMap",
          in: { name },
        })
      );
      return false;
    });
  });
</script>
{% endblock content %}
