{% extends "base.html" %}
{% block title %}
Items 道具
{% endblock title %}
{% block content %}
<div class="mb-2">
  {% for keywords in all_keywords %}
  <div>
    {% for keyword in keywords %}
    <a
      class="btn btn-sm btn-outline-dark mr-2 mb-2 {% if kind == keyword %}active{% endif %}"
      href="{% url 'items' %}?kind={{ keyword }}"
      role="button"
      >{{ keyword }}
    </a>
    {% endfor %}
  </div>
  {% endfor %}
</div>
<div class="mb-2">
  <table class="table table-sm table-hover">
    {% if render_staff_like %}
    <thead class="thead-dark">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Two Hand</th>
        <th scope="col">Attack Speed</th>
      </tr>
    </thead>
    <tbody>
      {% for item in items %}
      <tr data-toggle="collapse" data-target="#detail-{{ item.section }}-{{ item.index }}" class="clickable">
        <td>{{ item.name }}</td>
        <td>{{ item.two_hand }}</td>
        <td>{{ item.attack_speed }}</td>
      </tr>
      <tr class="collapse" id="detail-{{ item.section }}-{{ item.index }}">
        <td colspan="4">
          <div class="px-3">
            <table class="table table-sm table-hover">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Level</th>
                  <th scope="col">Min Attack(Excellent)</th>
                  <th scope="col">Max Attack(Excellent)</th>
                  <th scope="col">Magic Power(Excellent)</th>
                  <th scope="col">Require Strength(Excellent)</th>
                  <th scope="col">Require Dexterity(Excellent)</th>
                </tr>
              </thead>
              <tbody>
                {% for detail in item.detail %}
                <tr>
                  <td>{{ detail.level }}</td>
                  <td>{{ detail.damage_min }}({{ detail.excellent_damage_min }})</td>
                  <td>{{ detail.damage_max }}({{ detail.excellent_damage_max }})</td>
                  <td>{{ detail.magic_power }}%({{ detail.excellent_magic_power }}%)</td>
                  <td>{{ detail.require_strength }}({{ detail.excellent_require_strength }})</td>
                  <td>{{ detail.require_dexterity }}({{ detail.excellent_require_dexterity }})</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
    {% elif render_shield %}
    <thead class="thead-dark">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Skill</th>
        <th scope="col">Defense</th>
        <th scope="col">Defense Rate</th>
      </tr>
    </thead>
    <tbody>
      {% for item in items %}
      <tr>
        <td>{{ item.name }}</td>
        <td>{{ item.skill }}</td>
        <td>{{ item.defense }}</td>
        <td>{{ item.defense_rate }}</td>
      </tr>
      {% endfor %}
    </tbody>
    {% elif render_gloves %}
    <thead class="thead-dark">
      <tr>
        <th scope="col">Name</th> 
        <th scope="col">Defense</th>
        <th scope="col">Attack Speed</th>
      </tr>
    </thead>
    <tbody>
      {% for item in items %}
      <tr>
        <td>{{ item.name }}</td>
        <td>{{ item.defense }}</td>
        <td>{{ item.attack_speed }}</td>
      </tr>
      {% endfor %}
    </tbody>
    {% elif render_wing %}
    <thead class="thead-dark">
      <tr>
        <th scope="col">Name</th> 
        <th scope="col">Defense</th>
        <th scope="col">Kind</th>
      </tr>
    </thead>
    <tbody>
      {% for item in items %}
      <tr>
        <td>{{ item.name }}</td>
        <td>{{ item.defense }}</td>
        <td>{{ item.wing_kind }}</td>
      </tr>
      {% endfor %}
    </tbody>
    {% elif render_pendant %}
    <thead class="thead-dark">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Attack</th>
        <th scope="col">Magic Attack</th>
      </tr>
    </thead>
    <tbody>
      {% for item in items %}
      <tr>
        <td>{{ item.name }}</td>
        <td>{{ item.pendant_attack }}</td>
        <td>{{ item.pendant_magic_attack }}</td>
      </tr>
      {% endfor %}
    </tbody>
    {% elif render_ring %}
    <thead class="thead-dark">
      <tr>
        <th scope="col">Name</th> 
      </tr>
    </thead>
    <tbody>
      {% for item in items %}
      <tr>
        <td>{{ item.name }}</td>
      </tr>
      {% endfor %}
    </tbody>
    {% elif render_set %}
    <thead class="thead-dark">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Items</th>
      </tr>
    </thead>
    <tbody>
      {% for item in items %}
      <tr>
        <td>{{ item.name }}</td>
        <td>{{ item.items }}</td>
      </tr>
      {% endfor %}
    </tbody>
    {% elif render_weapon %}
    <thead class="thead-dark">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Skill</th>
        <th scope="col">Two Hand</th>
        <th scope="col">Attack Speed</th>
      </tr>
    </thead>
    <tbody>
      {% for item in items %}
      <tr data-toggle="collapse" data-target="#detail-{{ item.section }}-{{ item.index }}" class="clickable">
        <td>{{ item.name }}</td>
        <td>{{ item.skill }}</td>
        <td>{{ item.two_hand }}</td>
        <td>{{ item.attack_speed }}</td>
      </tr>
      <tr class="collapse" id="detail-{{ item.section }}-{{ item.index }}">
        <td colspan="4">
          <div class="pl-5">
            <table class="table table-sm table-hover">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Level</th>
                  <th scope="col">Min Attack(Excellent)</th>
                  <th scope="col">Max Attack(Excellent)</th>
                  <th scope="col">Require Strength(Excellent)</th>
                  <th scope="col">Require Dexterity(Excellent)</th>
                </tr>
              </thead>
              <tbody>
                {% for detail in item.detail %}
                <tr>
                  <td>{{ detail.level }}</td>
                  <td>{{ detail.damage_min }}({{ detail.excellent_damage_min }})</td>
                  <td>{{ detail.damage_max }}({{ detail.excellent_damage_max }})</td>
                  <td>{{ detail.require_strength }}({{ detail.excellent_require_strength }})</td>
                  <td>{{ detail.require_dexterity }}({{ detail.excellent_require_dexterity }})</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
    {% elif render_armor %}
    <thead class="thead-dark">
      <tr>
        <th scope="col">Name</th> 
        <th scope="col">Defense</th>
      </tr>
    </thead>
    <tbody>
      {% for item in items %}
      <tr>
        <td>{{ item.name }}</td>
        <td>{{ item.defense }}</td>
      </tr>
      {% endfor %}
    </tbody>
    {% endif %}
  </table>
</div>
{% endblock content %}
